.container {
  width: 100%;
  height: 100%;
}

.text {
  color: black;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

table {
  width: 100%;
  text-align: center;
  border: none;
}
