<div class="container text">
  <h1>My Certificates</h1>
  <ul>
    <li>
      <a
        href="https://www.hackerrank.com/certificates/3682850ca24b"
        target="_blank"
        >HackerRank Angular (Basic) Certificate</a
      >
    </li>
    <li>
      <a
        href="https://www.hackerrank.com/certificates/715e3b01b7c0"
        target="_blank"
        >Java (Basic) Certificate</a
      >
    </li>
    <li>
      <a
        href="https://ude.my/UC-b50fc2cc-0e02-41bc-a188-3871ab3a9923"
        target="_blank"
        >Docker in AWS - Deploy Java Spring Boot to AWS Fargate & ECS</a
      >
    </li>
    <li>
      <a
        href="https://ude.my/UC-8a90914f-1bd9-4b6b-92bb-c9f7fbd8e68d"
        target="_blank"
        >Docker for the Absolute Beginner - Hands On - DevOps</a
      >
    </li>
    <li>
      <a
        href="https://kodekloud.com/certificate-verification/7CB1A85C0C-85E419CA19-7CAB754B64/"
        target="_blank"
        >Udemy Labs – Docker for the Absolute Beginner</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/4949f231-dc84-4cae-b7ce-77bca756bb6c?source=linked_in_profile"
        target="_blank"
        >Certified BigID Associate Admin</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/c8b8121d-3916-4d28-a71b-3ebb5458f0db?source=linked_in_profile"
        target="_blank"
        >Certified BigID Associate BizUser</a
      >
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/0f24da4f-a9ed-4ed9-9210-fec19349d761?source=linked_in_profile"
        target="_blank"
        >Certified BigID Associate Operator</a
      >
    </li>
  </ul>
</div>
