<div class="container text">
  <h2><u>About Me</u></h2>
  <p>
    My name is <strong>Raktim Kalita</strong>, graduated with 1st class honors
    from <strong>Assam Engineering College(AEC)</strong>, under Gauhati
    University(GU).
  </p>
  <br />
  <p>
    Currently, I am working as a <strong>Software Engineer</strong> at
    <strong
      ><a href="https://www.globallogic.com/in/" target="blank"
        >GlobalLogic India Pvt. Ltd.</a
      ></strong
    >
  </p>
  <p>
    Previously I worked as a <strong>BigID Developer</strong> for 1.9 years at
    <strong
      ><a href="https://www.cognizant.com/in/en" target="blank">
        Cognizant Technology Solutions</a
      ></strong
    >. I worked on creating and scanning data sources, also worked with various
    teams on troubleshooting connectivity. Performed upgrade of BigID tool in
    PROD, DEV and UAT Servers using Docker and Unix commands. Created custom API
    connectors using Springboot which create JSONS according to the GDPR and
    CPRA/CCPA Laws and return the result to the BigID frontend. API connector's
    backend connects to the endpoints provided by datasource owners.
  </p>
  <br />
  <p>
    I have been building some personal projects from simple to advanced using
    technologies like Java, SpringBoot, Angular, TypeScript, Angular-Material
    etc. You can refer to <a routerLink="/projects">My Projects</a>.
  </p>
  <br />
  <p>
    I always try to improve my skills and gain some certificates, you can refer
    to <a routerLink="/certificates">My Certificates</a>.
  </p>
  <br />
  <p>
    <strong>
      <a
        href="././assets/RAKTIM_Resume_latest.pdf"
        download="Raktim_resume.pdf"
        alt="NA"
        >Download my resume</a
      ></strong
    >
  </p>
</div>
