<div class="container text">
  <h2>About Me</h2>
  <p>
    My name is <strong>Raktim Kalita</strong>, graduated with 1st class honors
    from <strong>Assam Engineering College(AEC)</strong>, under Gauhati
    University(GU).
  </p>
  <br />
  <p>
    Currently, I am currently working as a <strong>BigID Developer</strong> at
    <strong>Cognizant Technology Solutions</strong>. I worked on creating and
    scanning data sources, also worked with various teams on troubleshooting
    connectivity. Performed upgrade of BigID tool in PROD, DEV and UAT Servers
    using Docker and Unix commands. Create a custom connector whose frontend
    exposes the endpoints specified in the Generic Rest API specifications and
    whose backend connects to the data source using tools and protocols of your
    choice.
  </p>
  <br />
  <p>
    I have been building some personal projects from simple to advanced using
    technologies like Java, SpringBoot, Angular, TypeScript, Angular-Material
    etc. You can refer to <a routerLink="/projects">My Projects</a>.
  </p>
  <br />
  <p>
    I always try to improve my skills and gain some certificates, you can refer
    to <a routerLink="/certificates">My Certificates</a>.
  </p>
</div>
