<div class="container text">
  <h1>My Projects</h1>
  <ul>
    <li>
      <a href="https://rktmkalita.github.io/shopping-site/" target="_blank"
        >Shopping Site</a
      >
    </li>
    <li>
      <a
        href="https://github.com/Rktmkalita/Pension_Management_System"
        target="_blank"
        >Pension Management System</a
      >
    </li>
    <li>
      <a href="https://github.com/Rktmkalita/FitMyJob" target="_blank"
        >FitMyJob</a
      >
    </li>
    <li>
      <a href="https://rktmkalita.github.io/Simon-Game/" target="_blank"
        >Simon Game
      </a>
    </li>
    <li>
      <a href="https://rktmkalita.github.io/Guess-my-number/" target="_blank">
        Guess My Number
      </a>
    </li>
    <li>
      <a href="https://rktmkalita.github.io/Pig-Game/" target="_blank"
        >Pig Game
      </a>
    </li>
    <li>
      <a href="https://rktmkalita.github.io/Drum-Kit-Project/" target="_blank"
        >Drum Kit</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/10G-lFC4kXldJby_ZpZPF6U5D0C6-BT3X/view?usp=sharing"
        target="_blank"
        >Generating Images From Text Description Using GAN</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1g5cKF7bYgAlONb5bJa7-UieAluQJA-xO/view?usp=sharing"
        target="_blank"
        >Tea Leaf Disease Detection Using Deep Neural Networks</a
      >
    </li>
    <li>
      <a href="https://github.com/Rktmkalita/EchoMusicPlayer" target="_blank">
        Android - Echo Music Player
      </a>
    </li>
  </ul>
</div>
